@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Dobro došli u našu aplikaciju za automobile</h1>
    <p> <img width="962" height="463" src="~/slike/automobili.jpg" />  </p>
</div>
